{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <section class="container-fluid" id="edit">
     
    <div class="flex-center" >
      
        <form id="form" action="" method="post">
          <h1>Edit Your Review</h1>
            {% csrf_token %}
    
            {{ edit_form | crispy }}
    
            <button type="submit">Submit Changes</button>
    
        </form>
    </div>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            <div class="spacing"></div>
            {% endfor %}
         
        </ul>
      {% endif %}
      <div class="spacing"></div>
  </section>
{% endblock %}