{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
      <section class="container-fluid">
        <div class="spacing"></div>
        <div class="row"><h1>Bridle & Biscuits Boarding Facilities</h1>
           <br>
           <br>
           <br>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h3>Spacious Stable Blocks</h3>
                <br>
                <p>
                    Each stall is equipped with state-of-the-art comfort features, ensuring your equine friend feels right at home.
                   <br> 
                   <br>
                   <strong>Comfort Features:</strong>
                    <br>
                    Ventilation and Climate Control: Optimal ventilation is essential for maintaining a comfortable temperature inside the stalls. Built using materials like precast concrete panels for thermal mass, providing a cool respite.
                    <br>
                    Natural Light: Incorporating windows or skylights to allow natural light into the stalls, enhancing visibility and reducing reliance on artificial lights.
                    <br>
                    Flooring: Padded flooring can significantly increase comfort by minimizing pressure points and injuries. 
                    <br>
                    <br>
                    <strong>Safety Measures:</strong>
                    <br>
                    Secure Enclosures: Sturdy doors and latches to prevent escapes and injuries as well as rounded corners and smooth surfaces to injury minimize risks.
                    <br>
                    Non-Toxic Materials: Built with select materials that are safe for horses, avoiding those that could cause harm if ingested or chewed.
                    <br>
                    <br>
                    <strong>Additional Amenities:</strong>
                    <br>
                    Feed and Water Systems: Automatic waterers and feeders simplify care routines and ensure horses have constant access to hydration and nutrition.
                    <br>
                    Ergonomic Design Elements: Including features that reduce strain on both horses and humans, such as adjustable stall sizes and ergonomic design elements.
                    <br>
                    Sustainable Materials: Built using recycled materials sourced sustainably to reduce the environmental impact of the stable blocks.
                    <br>
                    <br>
                    <strong>Stalls cost £150 per night</strong>
                  </p> 
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="/static/assets/images/barn-2677850_1280.jpg" alt="Bridles & Biscuits Boarding Stable Yard" width="100%">
            </div>
            <div class="spacing"></div>
            <div class="row">
                <div class="col-sm-12 col-md-6"><h3>Extensive Grazing Land</h3>
                    <br>
                    <p>
                        We offer over 45 acres of rolling hills, shaded by mature trees, and equipped with auto-refilling water troughs and shelters, providing ample space for exploration and relaxation.
                        Water Systems and Accessibility:
                        <br>
                        <br>
                        Auto-Refilling Water Troughs: We implement solar-powered auto-refilling water troughs to ensure livestock have constant access to fresh water. These systems are particularly beneficial in frigid weather, ensuring the water remains frost-free and accessible.
                        Water troughs spread out to encourage even grazing distribution. This distance ensures the horses and donkeys won't have to walk too far to reach water, promoting healthier grazing habits and reducing the risk of overgrazing near water sources.
                        <br>
                        <br>
                        Shelter and Shading:
                        <br>
                        Shelters: Provide shaded areas to protect our equine friends from harsh sunlight and inclement weather. Shelters can also serve as resting spots, offering relief from the elements and encouraging them to explore different parts of the grazing land.
                        <br>
                        <br>
                        Environmental Considerations: we also utilize existing mature trees for natural shading and protection against wind, and are in the process of planting more trees strategically to enhance shade coverage and biodiversity within the grazing area.And using flexible grazing periods throughout multiple fields, setting recovery times based on seasonal changes and forage availability. This adaptive approach ensures optimal pasture health and livestock well-being.
                        
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img src="/static/assets/images/iceland-2420768_1280.jpg" alt="Grazing Land" width="100%">
                </div>
            </div>
            <div class="spacing"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6"><h3>On Site Vet And Farrier</h3>
                <br>
                <p>
                    Ensuring the well-being of livestock is paramount, and having an on-site veterinarian and farrier with extensive experience at the pinnacle of their fields is a testament to the commitment to animal welfare and care. An on-site veterinarian brings immediate medical expertise and emergency care capabilities, allowing for swift interventions and treatments tailored to the specific needs of the animals. Their deep understanding of equine veterinary medicine, combined with years of hands-on experience, enables them to diagnose and treat a wide range of conditions efficiently. This proximity to medical assistance is invaluable during critical moments, potentially saving lives and preventing long-term health issues.
                <br>
                <br>
                Similarly, the presence of a seasoned farrier on-site underscores the importance placed on hoof care and overall equine health. Farriers specialize in the art and science of trimming and shoeing horses' hooves, a task that is crucial for maintaining proper foot alignment, supporting structures, and preventing lameness. With years of experience, they possess the skill to adapt their techniques to individual horses' needs, ensuring that every animal receives personalized attention. Their expertise extends beyond just hoof care; they understand the interplay between hoof health and the horse's overall well-being, contributing to a holistic approach to animal care.
                <br>
                <br>
                Having both professionals on-site full-time means that preventive care, routine maintenance, and emergency services are readily available. This continuity of care ensures that animals receive consistent, high-quality treatment throughout their stay. It fosters a sense of trust and security among owners, knowing that their animals are under the watchful eye of experts who are dedicated to their health and happiness. Moreover, it reflects a commitment to excellence in animal husbandry, emphasizing the importance of professional, experienced care in achieving optimal outcomes for both the animals and their human caregivers.

                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="/static/assets/images/pexels-lucian-pirvu-2565857-4400549.jpg" alt="In House Farrier" width="100%">
            </div>
        </div>
        <div class="spacing"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6"><h3>Homemade Horse "Biscuits"</h3>
                <br>
                <p>
                    At Bridles & Biscuits Boarding, we understand the joy and satisfaction that comes from treating your horse to something special. That's why we've introduced our Homemade Horse "Biscuits," a delightful treat crafted with love and care. We're committed to providing exceptional care for your horse, including the occasional indulgence in our Homemade Horse "Biscuits."
                    <br>
                    <br>
                    <strong> Exclusively available for purchase in our office for just £5 per tub.</strong>
                    <br>
                    <br>
                    These homemade horse treats are not just a sweet indulgence; they're a testament to our commitment to providing your horse with the best possible care. Made with wholesome, limited ingredients, our biscuits are designed to be both nutritious and enjoyable for your equine companion.
                    Here's a glimpse into the magic behind our Homemade Horse "Biscuits":
                    <br>
                    <br>
                    <strong>Ingredients:</strong>
                    <br>
                    Oatmeal: Rich in fiber and essential nutrients, providing sustained energy.
                    <br>
                    Flour: Adds structure and texture to the biscuit.
                    <br>
                    Carrots and Apples: Chopped or grated, these fruits and vegetables offer vitamins, minerals, and antioxidants.
                    <br>
                    Molasses or Honey: Provides sweetness and binds the ingredients together.
                    <br>
                    Apple Sauce: Adds moisture and a hint of fruitiness.
                    <br>
                    Vegetable Oil or Coconut Oil: Ensures the biscuits hold together and adds a healthy fat component.
                    
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="/static/assets/images/peppermintplops_1024x1024.webp" alt="Peppermint Plop Biscuits" width="100%">
            </div>
        </div>
        <div class="spacing"></div>
        <div class="row">
            <h2>State Of The Art Exercise Facilities</h2>
            <br>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6"><h3>Sovereign Plus Horse Walker</h3>
                <br>
                <p>
                    We chose the Sovereign Plus Horse Walker due to its ability to provide a multitude of benefits for both the horses and their owners, showcasing its value as a versatile and essential piece of equine equipment.
                    <br>
                    <br>
                    From the perspective of the horse, the Monarch’s Horse Walker offers significant advantages. It aids in the better development of back muscles, keeping muscle cells healthier through enhanced blood saturation, which in turn slows down aging. This increased blood saturation also leads to improved alertness, brightness, and intellect, benefiting the horse's cognitive functions. Furthermore, it enhances the oxygen supply and removal of carbon dioxide, strengthening the heart muscles for higher efficiency, lower pulse rates, and blood pressure. The walker is also highly effective in preventing and curing colic, while its use helps strengthen bones, providing a better defense against pathogens and cancer cells.
                    <br>
                    <br>
                    For the stable owners, the Monarch’s Horse Walker presents several practical benefits. It simplifies the process of warming up and cooling down horses before and after training, making the routine more time-effective. We can easily exercise multiple horses simultaneously and adjust the speed of the walker to match each horse's ability level, aiding in recovery from injuries. This free-moving exercise eliminates the need for lunging on a lunge line, offering a more natural form of exercise that can improve a horse's condition and stamina.
                    <br>
                    <br>
                    Observational benefits further highlight the walker's utility. Through focused tempo training, we can control how much we push the horses, improving the quality of their legs through short, intense stimulation akin to interval training. This varied movement encourages coordination and reduces stiffness, leading to improved suppleness. Enhanced reflexes also reduce the horse's proneness to injury, making the Monarch’s Horse Walker a valuable tool for preventive care.
                    <br>
                    <br>
                    In conclusion, the inclusion of a Monarch’s Horse Walker in our stable is driven by its proven track record of enhancing horse health and performance. Its world-renowned status for quality, durability, and reliability positions it as an indispensable asset in our commitment to providing the highest standard of care for our horses.
                       
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="/static/assets/images/Back-Page-Main-Image-e1558528958160.jpg" alt="Sovereign Plus Horse Walker" width="100%">
            </div>
        </div>
        <div class="spacing"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6"><h3>Olympic size Sandschool</h3>
                <br>
                <p>
                    An Olympic-sized sand school offers a unique and beneficial environment for training and light exercises, catering to both horses and donkeys. This specialized facility is designed to provide a  setting ideal for enhancing the physical fitness and mental agility of your equines. The sand surface, especially when deep, offers a fantastic workout for the horses, requiring them to engage more muscle groups to move effectively. This type of exercise is particularly beneficial for horses needing to build strength and endurance, as riding in sand is a great cardiovascular workout that strengthens various muscles that are less engaged on harder surfaces.
                    <br>
                    <br>
                    Moreover, sand is gentle on hard tissues such as bones and hooves, as well as on rider bodies. Horses with hard tissue lesions often thrive in soft sand environments, and unconditioned horses are less likely to suffer hard tissue injuries. This makes sand schools an ideal place for horses recovering from injuries or those prone to such issues, as the softer impact of sand can aid in rehabilitation.
                    <br>
                    <br>
                    Having experienced competition riders exercise your horses during their stay is a privilege that elevates the care and training regimen offered at Bridles & Biscuits Boarding. These riders bring a wealth of knowledge and expertise, honed through years of competitive experience, to ensure your horses receive the most advanced training methods. Following the exercise directions provided in the booking form, these riders tailor their approach to meet the specific needs and goals outlined for each horse. This personalized attention guarantees that your horses benefit from structured, effective workouts that enhance their physical condition, obedience, and overall performance.
                     
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="/static/assets/images/Sand-School.jpg" alt="Sand-School" width="100%">
            </div>
        </div>
        <div class="spacing"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6"><h3>Cross-country Routes</h3>
                <br>
                <p>
                    Our meticulously designed cross-country route is a testament to the dedication to providing a challenging and rewarding environment for your equines. This course is crafted to mimic the natural terrains found in competitive events, pushing your horse's endurance and agility to new heights. It incorporates a variety of obstacles and terrain types, including open fields, wooded trails, and water crossings, which demand a combination of strength, speed, and precision from the horse.
                    <br>
                    <br>
                    Our professional competitive riders are integral to maintaining your horse's readiness for events while you are away. These riders are selected for their extensive experience in cross-country events, ensuring they can effectively train your horse to handle the rigors of such competitions. They employ sport-specific training strategies, adapting their approach based on the horse's current condition and the upcoming event schedule. This tailored training focuses on enhancing the horse's foundational dressage skills, which are crucial for cross-country success, alongside developing the horse's sense of direction, speed, rhythm, balance, and timing.
                    <br>
                    <br>
                    These riders work closely with your horse, establishing a strong partnership that relies on clear communication and mutual trust. They are adept at making split-second decisions, adjusting their strategy as needed to navigate the course effectively. Their positive attitudes and thoughtful dispositions contribute to a harmonious training environment, fostering a horse that is not only physically conditioned but also mentally prepared for the demands of cross-country events.
                    <br>
                    <br>
                    By entrusting your horse's care to these experienced professionals, you can rest assured that your horse is receiving the highest level of preparation for competitive events. This proactive approach to training ensures that your horse remains event-ready, capable of performing at its peak when called upon.
                    
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="/static/assets/images/pexels-theotherkev-5655501.jpg" alt="Cross-Country Course" width="100%">
            </div>
        </div>
        <div class="spacing"></div>
    </section>

    {% endblock %}