{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

      <section class="container-fluid">
        <div class="spacing"></div>
        <div class="row"><h1>Bridle & Biscuits Boarding</h1>
           <div class="spacing"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="/static/assets/images/emmali-millard-ySf_O5xmS7I-unsplash.jpg" alt="Horses Grazing At Bridles & Biscuits Boarding" width="100%">
            </div>
            <div class="col-sm-12 col-md-6">
                <br>
                <h3>About Bridles & Biscuits Boarding</h3>
                <br>
                <p>
                    Welcome to Bridles & Biscuits Boarding, your trusted haven for horses and donkeys seeking temporary lodging amidst lush landscapes and professional care. Nestled within expansive grounds, our facility promises a serene escape for your equine friends, ensuring they receive the utmost attention and comfort during your absence. 
                    <br>
                    <br>

                    At Bridles & Biscuits Boarding, we've crafted an environment that mirrors the natural beauty and freedom of the outdoors, combined with the security and expertise of a professional equestrian center. Our amenities include:

                    A Sand School, a Cross-Country Route, Walker Facilities, Spacious Stable Blocks, Extensive Grazing Land with Over 45 acres of rolling hills and Homemade Horse “Biscuits” to enhance their stay with us.
                    <br>
                    <br>
                    Our team of equine professionals is dedicated to providing personalized care, ensuring every aspect of your horse's or donkey's needs is addressed with precision and affection. From daily grooming and feeding to specialized veterinary and farrier services, we leave no stone unturned in ensuring their well-being.

                    We believe in transparency and affordability, offering competitive rates for short-term stays. This approach allows you to make an informed decision, choosing the best care option for your equine family without compromising on quality or budget.

                    Join us at Bridles & Biscuits Boarding, where your horse or donkey's safety, happiness, and well-being are our top priorities. Allow us to care for your equine family while you enjoy your well-deserved break, secure in the knowledge that they are receiving the very best in equestrian care.
              </p>
          </div>
            <div class="spacing"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <br>
                <h3>About Anastasia</h3>
                <br>
                <p>
                    Anastasia White, owner of Bridle and Biscuit Boarding, is a former competitive eventer. She embarked on a journey driven by her profound passion for horses and a deep-seated concern for their well-being. 
                    <br>
                    <br>
                    Recognizing the common anxiety experienced by horse owners who must leave their beloved companions in the care of others, especially those who may not offer the level of attention they desire, she took a bold step towards creating a unique solution. 
                    <br>
                    <br>
                    Her own experiences with the stress of traveling without her horse, coupled with the dissatisfaction she felt at the prospect of entrusting her horse's care to someone who could only perform cursory checks daily, motivated her to establish a stable that functions more like a hotel for horses. 
                    <br>
                    <br>
                    At Bridle and Biscuit Boarding, every horse is treated with the individualized care and attention they deserve, offering peace of mind to their owners through personalized boarding services that prioritize comfort, safety, and care. This innovative approach not only addresses the needs of traveling horse owners but also reflects the owner's dedication to enhancing the lives of horses and their human companions alike.
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="/static/assets/images/vadim-fomenok-sdAvfW0X8T0-unsplash.jpg" alt="Anastasia" width="100%">
            </div>
            <div class="spacing"></div>
        </div>

    </section>
    {% endblock %}