{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container-fluid">
    <div class="col-12 mt-3 left">
        <div class="spacing"></div>
        <div class="row">
            {% for review in reviewlist %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in review.featured_image.url %}
                            <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                            {% else %}
                            <img class="card-img-top" src="{{ review.featured_image.url }}" alt="{{ review.title }}">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Rating: {{ review.rating }} /5</p>
                            </div>
                        </div>
                        <h2 class="card-title">{{ review.title }}</h2>
                        <p class="card-text" id="review{{ review.id }}">{{ review.comment }}</p>
                        <hr>
                        <p class="card-text text-muted h6">{{ review.created_on }}</p>
                        {% if user.is_authenticated and review.user == user %}
                        <button class="btn btn-edit"  data-bs-toggle="modal" data-bs-target="#editReviewModal" >Edit</button>
                        <button class="btn btn-delete" data-review_id="{{ review.id }}">Delete</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% if is_paginated %}
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
<div class="spacing"></div>
<div class="container">
    {% if user.is_authenticated %}
    <h3>Leave a Review!</h3>
    <form id="reviewForm" action="{% url 'add_review' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ review_form | crispy }}
        <button id="submitButton" type="submit">Submit</button>
    </form>
    {% else %}
    <p>You must be logged in to leave a review.</p>
    {% endif %}
</div>
<div class="spacing"></div>
</div>

<!-- Edit Review Modal -->
<div class="modal fade" id="editReviewModal" tabindex="-1" aria-labelledby="editReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editReviewModalLabel">Edit Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modalReviewForm" method="POST">
                    {% csrf_token %}
                    {{ review_form | crispy }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'review_edit' review.id %}" class="btn btn-danger">Save Changes</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extras %}
<script src="{% static '/assets/js/reviews.js' %}"></script>

{% endblock %}