{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="spacing"></div>
            <h1>Your Bookings</h1>
            <br>
            <br>

            <div class="row">
                {% for booking in object_list %}
            
                <div class="col-12">
                    
                    
                    <div class="bookingcard" id="bookingcard">
                        <h2 class="author">Booking: {{ booking.bookingid }}</h2>
                        <h3 class="card-title">{{booking.horse_name | safe  }}</h2>
                        <h5>Feeding Requirements:</h5>
                        <p class="card-text">{{ booking.feeding_requirements | safe }}</p>
                        <h5>Exercise Requirements:</h5>
                        <p class="card-text">{{ booking.exercise_requirements | safe }}</p>
                        <p class="card-text"><strong>Booking start date:</strong> {{ booking.stay_start }}</p>
                        <p class="card-text"><strong>Booking end date:</strong> {{ booking.stay_end }}</p>
                        <p class="card-text"><strong>Number of nights:</strong> {{ booking.number_nights }}</p>
                        <h6 class="card-text">Stay cost: £{{ booking.cost }}</h6>
                            

                            <hr>
                            <p class="card-text text-muted h6">{{ booking.booked_on}}
                            </p>
                            <button class="btn btn-danger btn-delete" data-booking_id="{{ booking.id }}">Cancel Booking</button>
                            
                    </div>
                    <div class="spacing"></div>
                
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>

    </nav>
    {% endif %}
    <div class="spacing"></div>
</div>
<!-- Modal for delete confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this booking?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a id="deleteConfirm" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock content %}

{% block extras %}
<script src="{% static '/assets/js/book.js' %}"></script>
{% endblock %}